<div class="row">
  <div class="col s10 offset-s1 m8 offset-m2 l6 offset-l3 xl4 offset-xl4">
    <h2 align="center">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="input-field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="input-field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div>
          <label>
            <%= f.check_box :remember_me, class: "filled-in" %>
              <span>Remember me?</span>
          </label>
        </div>
      <% end %>
      <br>
      <br>
      <div align="center" class="actions">
        <%= f.button class: ['waves-effect', 'waves-light', 'btn-large'] do %>
          LOG IN <i class="material-icons right">send</i>
        <% end %>
      </div>
    <% end %>
    <br>
    <br>
    <div align="center">
      <%= render "devise/shared/links" %>
    </div>
    <br>
  </div>
</div>
